/* This file controls the style of the header */

nav {
    font-size: 2rem;
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

nav > a:first-child {
    float: left; 
}

nav a img {
    height: 100%;
    width: auto;
    padding: 0.2rem 0 0.2rem 1rem;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-width: 60%;
    transform: translateX(-2.5rem);
}

div > a:hover {
    text-decoration: underline;
    color: #92fccd;
}

.hjem {
    text-decoration: underline;
    color: #92fccd;
}