/* nav {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 15rem;
    border: 2px red solid;
}

nav a img {
    width: auto;
    height: 100%;
    float: left;
}

nav a {
    list-style-type: none;
    text-decoration: none;
    border: 2px green solid;
} */

nav {
    font-size: 2rem;
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

nav > a:first-child {
    float: left; 
}

nav a img {
    height: 100%;
    width: auto;
    padding: 0.2rem 0 0.2rem 1rem;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-width: 60%;
    transform: translateX(-2.5rem);
}
