/* This file controls the style of every sites basic layout
    which includes the header, main-part (body) and footer 
    and also sets the font */


    /* These are variables which I intended on using in the beginning to set the 
        theme of colors but i ended up hust inserting the hex-value at each 
        location instead */
/* :root {
    --primary: #55575d;
    --secondary: #101015;
    --tertiary: #fffee6;
    --quaternary: #E32636;
    --quinary: #FF8000;
} */ 
 
/* This selector sets the values for all selectors, so it can be used as a 
    reset for the website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 99;
    color: #fffee6;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../img/background-sharp.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none; /* skjuler scrollbar på Edge */ 
}
body::-webkit-scrollbar { /* skjuler scrollbar på Chrome */
    display: none;
} 

header {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #101015;
    box-shadow: rgba(0, 0, 0, 0.605) 0px 3px 8px;
    /* border: #00F5F5 solid 2px; */
}

main {
    margin: 0 auto;
    display: block;
    background-color: #55575d;
    width: 60%;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.19) 20px 0px 10px, rgba(0, 0, 0, 0.23) -20px 0px 10px;
    z-index: 2;
    /* background-color: #00FF00; */
    /* border: #00FF00 solid 2px; */
} 

footer{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
    background-color: #101015;;
    /* border: #FF8000 solid 2px; */
}

